body {
background-color:#00FFFF;
color:#00CC00;
text-shadow:5px 5px 5px #000000;}
a:link {
text-decoration:none;
color:#4CC417;}
a:visited {
text-decoration:none;
color:#4CC417;}
a:hover {
text-decoration:none;
color:#4CC417;}
a:active {
text-decoration:none;
color:#0000FF;}
#title {
text-align:center;}
#games {
position:absolute;
left:5%;
top: 3.6cm;
text-align:left;
z-index:2;}
#puzzles {
position:relative;
text-align:center;
z-index:1;}
#models {
position:absolute;
right:5%;
top: 3.6cm;
text-align:right;
z-index:3;}
#homepage {
position:relative;
text-align:center;
left:45%;
top:7cm;}
